body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 20px 100px 0px 100px;
    background: #f3f3f3;
}

input {
    font-size: 18px;
    margin: 0px 0px 10px 0px;
    border: none;
    background-color: #f3f3f3;
    outline: none;
    font-weight: bold;
}

button {
    font-size: 18px;
}

.violating {
    color: red;
    text-decoration: dashed;
}
